html {
  margin: 0;
}

body {
  margin: 0;
  line-height: 1.6em;
  word-spacing: 0.05em;
  font-family: Arial, Helvetica, sans-serif;
}

#head-bg {
  background-image: url('../img/index-head.jpg');
  background-size: cover;
  background-position: center;
}

h1 {
  color: blue;
  margin: 0;
  padding: 200px 0 60px 10%;
  font-size: 84px;
}

#my-name {
  display: flex;
  justify-content: flex-end;
  font-style: italic;
  font-size: 36px;
  padding: 15px 45px;
}

.main-body {
  width: 80%;
  margin: 30px auto;
  box-shadow: 5px 5px grey;
  padding: 10px;
}

.first-section {
  display: flex;
  justify-content: center;
  background-color: #fff;
}

#portfolio-p {
  width: 45%;
  border-right: 0;
  border: 2px solid green;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto;
}

#hw-image {
  width: 45%;
  margin: 0 auto;
}

#hw-image img {
  width: auto;
  height: auto;
  border: 2px solid green;
  max-width: 500px;
}

.second-section {
  margin: 10px;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
}

li {
  list-style: none;
  border-radius: 5px;
  background-color: #c2c3c4;
  padding: 15px;
  margin: 10px;
}

.list-headers {
  color: #296856;
  margin: 0;
  padding: 5px;
  font-size: 26px;
  font-weight: 600;
  font-style: oblique;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.repo-link {
  color: #2d1a72;
  margin: 0;
  background-color: #51a8e2;
  border: 2px outset #51a8e2;
  border-radius: 3px;
  padding: 3px 5px;
}

a {
  text-decoration: none;
}

/* ol :nth-child(odd) {
  background-color: #f4f4f4;
}

ol :nth-child(even) {
  background-color: #c2c3c4;
} */
